<!DOCTYPE html>
<html>
<head>
<!-- <base href="/portfoliotemplate"> -->
<meta charset="utf-8">
<title>Omolayo International College, Osogbo</title>
<link href="newsdesign.css" rel="stylesheet" type="text/css">
<meta name="keyword" content="School in Osogbo, School in Osun, Private Secondary School in Osogbo,
 Secondary School in Osun, Approved School in Osogbo, Best Secondary School in Osogbo, Affordable Good Secondary School in Osogbo " >
<meta name="description" content=" Enroll your wards in a Government Approved Secondary School in Osogbo, Osun State at an Affordable fee  ">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:url"           content="https://omolayointcollege.web.app" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Omolayo International College, Osogbo" />
  <meta property="og:description"   content=" Enroll your wards in a college with the best teachers and facilties at an Affordable fee  " />
  <meta property="og:image"         content="https://firebasestorage.googleapis.com/v0/b/omolayointcollege.appspot.com/o/images%2F1603907229807%2FIMG_20201019_140640_HDR%5B1%5D.jpg?alt=media&token=1c64685a-8a0f-4e01-ab20-453cd8dd7c13"  />
  <meta property="og:image:width"          content="600px" />
    <meta property="og:image:height"          content="600px" />

<link href="./index.css" rel="stylesheet">

<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cantarell" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cantarell" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Overpass:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&display=swap" rel="stylesheet">
<style>
body{


  margin: 0;
  padding: 0;
  border: 0;

    font-size: 100%;

  	vertical-align: baseline;
    overflow-x: hidden;


}

td, th{
 border: 2px solid #bbb;
 border-collapse: collapse;
}

td img{
max-width: 50%;
height: auto;

}
th, td{
 padding: 10px;
 text-align: center;
}
</style>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '344569333015691',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v3.2'
    });
  };

  (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "LocalBusiness",
  "name" : "Omolayo International College, Osogbo",
  "image" : "https://firebasestorage.googleapis.com/v0/b/omolayointcollege.appspot.com/o/images%2F1603907229807%2FIMG_20201019_140640_HDR%5B1%5D.jpg?alt=media&token=1c64685a-8a0f-4e01-ab20-453cd8dd7c13",
  "telephone" : "+2347035747366",
  "email" : "assidiiq25@gmail.com",
  "address" : {
    "@type" : "PostalAddress",
    "streetAddress" : "No 23, Obanisola Street, Behind Omidiran Gardens, Powerline Area",
    "addressLocality" : "Osogbo",
    "addressRegion" : "Osun State",
    "addressCountry" : "Nigeria"
  }
}
</script>
</head>

<body>
<header id="header">
  <div class="leftbrand">
    <div class="logo">
      <img src="logo2.jpg">
  </div>
  <div class="column">
  <div class="name">Sodiq</div>
  <div class="title"> Web Developer </div>
</div>
</div>
      <nav>
    <ul>

  <li class="active">
    <a href=""> HOME</a>
    <div class="underline"></div>

  </li>
  <li>
    <a [routerLink]="['/register']" [routerLinkActive] ="active"> REGISTER</a>
<div class="underline"></div>
  </li>
  <li>
    <a [routerLink]="['/login']" [routerLinkActive] ="active"> LOGIN</a>
<div class="underline"></div>
  </li>
  <li>
    <a [routerLink]="['/anonymous', 'questions']" routerLinkActive="active"> OTHER QUESTIONS</a>

  </li>
  <li>
    <a href="/index#contact"> CONTACT</a>

  </li>

  <li>
    <a href="/index#staff"> STAFF</a>

  </li>
  <li>
    <a href="/index#news"> NEWS </a>

  </li>

    </ul>
  </nav>
    <div class="menubutton" id="menubutton" onclick="displayornot();">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>

    </div>
    <div class="dropdown nodisplay" id="dropdown">
    <div id="control">
  		<div id="close-dropdown">
  		<i class="fas fa-times" onclick="displayornot()"></i>
  		</div>
  		</div>
      <ul>


        <li>
        <a href="" class="active liacolor">
         <i class="fas fa-home"></i> HOME
        </a>
        </li>
        <li>
        <a [routerLink]="['/register']" [routerLinkActive] ="active" class="active liacolor">
         <img src="/assets/filesh.jpg" height="25px" width="25px"> REGISTER
        </a>
        </li>

        <li>
        <a [routerLink]="['/login']" [routerLinkActive] ="active" class="liacolor">
        <i class="fas fa-home"> </i> LOGIN
        </a>
        </li>
        <li>
          <a [routerLink]="['/anonymous', 'questions']" [routerLinkActive]="active">

        <i class="fas fa-scroll"> </i> ANONYMOUS QUESTIONS
        </a>
        </li>



        <li>
        <a href="/index#contact" class="liacolor">
        <i class="fas fa-id-card"></i> CONTACT
        </a>
        </li>
        <li>
        <a href="/index#staff" class="liacolor">
        <i class="fas fa-user-tie"></i> STAFF
        </a>
        </li>

        <li>
        <a href="/index#news" class="liacolor">
        <i class="fas fa-scroll"></i> NEWS
        </a>
        </li>

      </ul>

    </div>

</header>
  <div class="dotdesign">
  </div>
  <div class="dotdesign1">
  </div>
  <div class="dotdesign2">
  </div>
  <div class="fullscreenwrapper" id="gallery">
    <div class="leftpicture">

      <div class="displaying" id ="displaying">
      <!--  <div class="previous" onclick="previous();">
      <i class="fas fa-angle-left"></i>
    </div>
        <div class="next" onclick ="next();">
          <i class="fas fa-angle-right"></i>
        </div> -->
        <div id="insert">
          <div  class="{{'overall '+display(i)}}" *ngFor="let key of keys; let i = index">
           <div class="picture">
             <picture>
               <source media="(min-width:1000px)" srcset="me3.jpg">
             <img src="me2.jpg">
           </picture>
           </div>
           <div class="caption">
            {{z.pictures[key].picturesword}}
           </div>
          </div>
  <!--<div class="overall " style="display:block;">
        <div class="picture">
          <img src="preview.jpg">
        </div>
        <div class="caption">
        </div>
      </div>
      <div class="overall " style="display:none;">
            <div class="picture">
              <img src="koala.jpg">
            </div>
            <div class="caption">
            </div>
          </div> -->



      </div>

      <div class="indicator" id="indicator">

      </div>
      </div>

    </div>
    <div class="rightword">
      <div class="omolayo">
        <h1>
          <div class="h1name">
        I'm Isiaka Sodiq -
      </div>

      <div class="h1title">
      Full Stack Web Developer
    </div>
    </h1>
      </div>
      <div class="wordsunder ">
        <!---An affordable college with 100% perfection in educational services.
  -->
  Full Stack Web Developer with 5+ years experience building user-friendly, responsive, dynamic, interactive,
  functional and secured front-ends and backends
  </div>
  <div class="emailandgithub">
    <div class="email">
      <div class="emailtitle">
        Email
      </div>
      <div class="emailword">
        <a href="tel:+2348109290534">assidiiq25@gmail.com</a>
      </div>
    </div>
    <div class="email">
      <div class="emailtitle">
        Github
      </div>
      <div class="emailword">
        <a href="https://github.com/isiadeg">github.com/isiadeg</a>
      </div>
    </div>
  </div>
  <div class="buttons">
    <div class="button">
      Download C.V.
    </div>
    <div class="button">
      Hire Me Now
    </div>
  </div>
<!--  <div class="button">
  <button class="pinkandwhitebutton">
    CONTACT US
  </button>
</div> -->
  </div>
  </div>
  <div class="socialmedia" id="socialmedia">
  <div class="facebook" >
    <a href="tel:+2347035747366">
    <i class="fas fa-phone" ></i>
    </a>

    </div>
    <div class="facebook" onclick="sharedata();">
  <i class="fab fa-facebook-f"></i>
    </div>
    <div class="twitter">
    <a href="https://twitter.com/intent/tweet?text=Enroll your wards in a college with the best teachers and facilties at an Affordable fee https://omolayointcollege.web.app"
  url="https://omolayointcollege.web.app">
  <i class="fab fa-twitter"></i>

  </a>
    </div>
    <div class="whatsapp">
    <a href="https://api.whatsapp.com/send?text=text=Enroll your wards in a college with the best teachers and facilties at an Affordable fee https://omolayointcollege.web.app">
          <i class="fab fa-whatsapp"></i>

        </a>
    </div>

  </div>

  <div class="whyus">
  <div class="whyusheading">
    Why Choose Us?
  </div>
    <div class="whyitem">
      <div class="iblock">
        <i class="fas fa-check-circle"></i>
      </div>
      <div class="itemword">
        Government Approved
      </div>
      </div>
      <div class="whyitem">
        <div class="iblock">
          <i class="fas fa-flask"></i>
        </div>
        <div class="itemword">
          Well Equipped Laboratories
        </div>
      </div>
      <div class="whyitem">
        <div class="iblock">
          <i class="fas fa-scroll"></i>
        </div>
        <div class="itemword">
          Accredited N.E.C.O and W.A.S.S.C.E. Exam Centre
        </div>
        </div>
        <div class="whyitem">
          <div class="iblock">
            <i class="fas fa-tree"></i>
          </div>
          <div class="itemword">
            Beautiful and Serene Environment
          </div>
          </div>
      <div class="whyitem">
        <div class="iblock">
           <i class="fas fa-tv"></i>
        </div>
        <div class="itemword">
          Practical Computer Literacy
        </div>
        </div>
  </div>




  <div class="ourservices" id="services" >
    FACULTIES AND DEPARTMENTS
  </div>
  <div class="{{services(i)}}" *ngFor="let faculy of facu; let i =index " >
    <div class="word">
      <h2><div class="title">
        {{z.faculties[faculy].name}}
      </div></h2>
      <div class="mainword" id="{{faculy}}">
    </div>
                      <div class="readmore">
                      </div>
    </div>
    <div class="picture" id="{{'services'+i}}">
      {{faculty(faculy, z.faculties[faculy].pictureurl, i )}}

      <picture>
        <img src="{{z.faculties[faculy].pictureurl}}">
      </picture>
    </div>
  </div>




  <div class="employeesallowlong" id="staff">
    <div class="employees">
      <div class="newsheader">
      Staff Profiles
      </div>
  </div>
  <div class="minusses">
    <div class="minusbottom" *ngFor="let employer of emp; let i =index ">
      <div class="picture">
        <img src="{{z.employees[employer].pictureurl}}">
      </div>
      <div class="employeesname">
        {{z.employees[employer].name}}
      </div>
      <div class="employeesdesc" id="{{'emolews'+employer}}">
        {{emmployees(employer)}}
      </div>
    </div>

    </div>

  </div>


  <div class="newsallow" id="news">
    <div class="newsheader">
      News and blogs
      </div>
    <div class="newssection">
      <div class="newsblock" *ngFor="let newss of newsi; let i = index">
        <div class="picturi">
          <img src="{{z.news[newss].pictureurl}}">
        </div>
        <div class="words">
          <div class="date">
            {{z.news[newss].date}}
          </div>
          <div class="title">
          {{  z.news[newss].title}}
          </div>
          <div class="details" id="{{'nws'+newss}}">
        <!--    This is to inform the general public that the 2020/2021 Admission into
            Omolayo International College is in progress. Interested Parents should obtain
            admission form at the school premises for N2 000 only. -->
            {{neews(newss)}}
          </div>
          <div class="readmore" (click)="readimore(newss)" id="{{'readmore'+newss}}">
          Read More
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="contact" id="contact">
    <div class="contactheader">Contact</div>
    <div class="columnsi">

      <div class="rowsi">
        <div class="rowsblocki">
          <a href="tel:+2347035747366"> <i class="fas fa-phone"></i></a>
        </div>
        <div class="rowscontent">
          +2347035747366 | +2348053093169 | +2348118490321
        </div>
      </div>

      <div class="rowsi">
        <div class="rowsblocki">
          <a href="mailto: assidiiq25@gmail.com"> <i class="far fa-envelope"></i></a>
        </div>
        <div class="rowscontent">
          <a href="mailto: assidiiq25@gmail.com">  assidiiq25@gmail.com </a>
        </div>
      </div>
      <div class="rowsi">
        <div class="rowsblocki">
           <i class="fas fa-home"></i>
        </div>
        <div class="rowscontent">
          No 23, Obanisola Street, Powerline Area, Osogbo
        </div>
      </div>
    </div>

    <div class="columnsi">


      <div class="rowsi">
        <div class="facebook" onclick="sharedata();">
            <a href="https://facebook.com/Omolayo-International-College-101040997956065">
      <i class="fab fa-facebook-f"></i>
    </a>
        </div>
        <div class="twitter">
        <a href="https://twitter.com/intent/tweet?text=Enroll your wards in a college with the best teachers and facilties at an Affordable fee https://omolayointcollege.web.app"
      url="https://omolayointcollege.web.app">
      <i class="fab fa-twitter"></i>

      </a>
        </div>
        <div class="whatsapp">
        <a href="https://api.whatsapp.com/send?text=Enroll your wards in a college with the best teachers and facilties at an Affordable fee https://omolayointcollege.web.app">
                    <i class="fab fa-whatsapp"></i>

            </a>
        </div>
      </div>
      <div class="rowsi">
        <div class="rowsblocki">
           <i class="fas fa-time"></i>
        </div>
        <div class="rowscontent">
        Monday - Thursday : 7:00PM - 4:00PM <br/>
        Friday : 7:00PM - 1:00PM <br/>
        Saturdays : 9:00PM - 12:00PM

        </div>
      </div>
    </div>
    <div class="columnsi" style="width:100%; text-align:center; color: red;">
      &copy; All Rights Reserved. FunctionswebDevelopment@2020. <br/>
    Website Developed By FunctionswebDevelopment <br />
        <div class="rowsi" style="justify-content: center;
      color: red;
      flex-wrap: wrap;">
    Contact: <a href="tel:+2348109290534" style="color:red;">   +2348109290534 | </a>
    <a href="mailto: assidiiq25@gmail.com" style="color:red;"> | assidiiq25@gmail.com</a>
  </div>
      </div>

  </div>
  </footer>


<!--<app-root></app-root> -->
<script src="/assets/jquery.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.2/firebase-storage.js"></script><!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.15.2/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.2/firebase-database.js"></script>
<!--<script src="/assets/ckeditor/ckeditor.js"></script> -->
<!--<script src="https://cdn.ckeditor.com/ckeditor5/23.1.0/decoupled-document/ckeditor.js"></script>
--><script src=""></script>


<script>
let neweditor;
setTimeout(function(){
  //CKEDITOR.replace('editor1');




}, 40000);

function submitclick(){
  const editorData = neweditor.getData();
document.getElementById("display").innerHTML = editorData;
    // ...

}

function upload(){
  console.log("hi");
}
<!-- The core Firebase JS SDK is always required and must be listed first -->

  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBf3df7kFCwyxaHbcjiGwQ2p-wsXxL3TaM",
    authDomain: "omolayointcollege.firebaseapp.com",
    databaseURL: "https://omolayointcollege.firebaseio.com",
    projectId: "omolayointcollege",
    storageBucket: "omolayointcollege.appspot.com",
    messagingSenderId: "850634502963",
    appId: "1:850634502963:web:73ef0d73c50ea76a55c446",
    measurementId: "G-1C4GFK7FCK"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();


        class MyUploadAdapter {
    constructor( loader ) {
        // The file loader instance to use during the upload.
        this.loader = loader;
    }

    // Starts the upload process.
    upload() {
      let server = new Server();
        // Update the loader's progress.
        //server.onUploadProgress( data => {
          //  this.loader.uploadTotal = server.progress;
            //this.loader.uploaded = server.uploaded;
        //} );

        // Return a promise that will be resolved when the file is uploaded.
        return this.loader.file
            .then( file => server.uploading( file ) );
    }

    // Aborts the upload process.
    abort() {
        // Reject the promise returned from the upload() method.
        server.abortUpload();
    }
  }
  //Define the FileRepository.createUploadAdapter() factory method which uses the MyUploadAdapter class to enable the upload adapter in the editor:




  class Server {
    constructor() {

    }
     progress;
     uploaded;
     data= {};
     uploading(file) {
       return new Promise((resolve, reject)=>{
      var storagi = firebase.storage();
      var storageRef = storagi.ref();



    // Create the file metadata
    var metadata = {
      contentType: 'image/jpeg'
    };

    // Upload file and metadata to the object 'images/mountains.jpg'


    console.log(firebase.storage.TaskState.RUNNING);
    // Listen for state changes, errors, and completion of the upload.
    const d = Date.now();
      storageRef.child('/users/'+"idornot"+"/"+d+file.name).put(file, metadata).then(function(snapshot){


  storageRef.child('/users/'+"idornot"+"/"+d+file.name).getDownloadURL().then(function(downloadURL) {
//var listnames = storageRef.child('users/'+"idornot").listAll();
console.log(downloadURL);
console.log('returned');
resolve({default: downloadURL});
})
});


     /*.then(function(snapshot){
       storageRef.child('/users/'+"idornot"+"/"+d+Date.now()+file.name).getDownloadURL().then(function(downloadURL) {
     //var listnames = storageRef.child('users/'+"idornot").listAll();
     console.log(downloadURL);
     console.log('returned');
     resolve({default: downloadURL});

       })
     })*/

      // Upload completed successfully, now we can get the download URL
  })
    };

  }

function uploadi(){
var whattouse;

let myForm = document.getElementById("imagefile").files[0];

  //this.formData.append("name", "image");
//this.formData.append("file", this.pictures);
  /*this.http.post("http://localhost:5000/login/picture.js", formData).subscribe((data)=>{console.log(data);
this.pictureurl=data.filepath;
console.log(this.pictureurl);
  },
(e)=>{console.log(e)}); */
//File or Blob named moun
let storageRef = firebase.storage().ref();
// Create the file metadata
//var metadata = {
  //contentType: 'image/jpeg'
//};
console.log(myForm.name);

// Upload file and metadata to the object 'images/mountains.jpg'
//var uploadTask =
storageRef.child('images/' +Date.now()+"/"+ myForm.name).put(myForm/*, metadata*/).then((data)=>{
  //res.json("good");
  console.log(data);
  storageRef = firebase.storage().ref();
  storageRef.child('images').listAll().then((res)=>{
    console.log(res);
  res.prefixes.forEach((prefix)=>{
    console.log(prefix)
    whattouse=prefix.name;
    });
    storageRef.child('images'+"/"+whattouse).listAll().then((res)=>{
      console.log(res);
    res.items.forEach((item)=>{
      storageRef.child(item.fullPath).getDownloadURL().then((url)=>{
      document.getElementById("pictureurl").innerHTML=JSON.stringify({
        id: whattouse,
        image: url
      });
console.log("hi");
alert("uploaded");
})

    });
  })


});
});

// Listen for state changes, errors, and completion of the upload.
/*uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
  function(snapshot) {
    //hi
    // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
    var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
    console.log('Upload is ' + progress + '% done');
    switch (snapshot.state) {
      case firebase.storage.TaskState.PAUSED: // or 'paused'
        console.log('Upload is paused');
        break;
      case firebase.storage.TaskState.RUNNING: // or 'running'
        console.log('Upload is running');
        break;
    }
  }, function(error) {

  // A full list of error codes is available at
  // https://firebase.google.com/docs/storage/web/handle-errors
  switch (error.code) {
    case 'storage/unauthorized':
      // User doesn't have permission to access the object
      break;

    case 'storage/canceled':
      // User canceled the upload
      break;


    case 'storage/unknown':
      // Unknown error occurred, inspect error.serverResponse
      break;
  }
}, function() {
  // Upload completed successfully, now we can get the download URL
  uploadTask.snapshot.ref.getDownloadURL().then(function(downloadURL) {
    console.log('File available at', downloadURL);
    return  res.json({"filepath": downloadURL});

  });
});*/



}
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if(document.getElementById("socialmedia") !== null){
console.log(document.getElementById("socialmedia").style.top)
  if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
let headerclasses=document.getElementById("header").className;
console.log(headerclasses);
let isboxshadow = headerclasses.search('boxshadow');
document.getElementById("socialmedia").style.top="10px";
document.getElementById("socialmedia").style.right="8px";
document.getElementById("socialmedia").style.position="fixed";
console.log(isboxshadow);
    if(isboxshadow == -1 ){
console.log('yes');
      document.getElementById("header").className += " boxshadow";
}
 } else {

  document.getElementById("header").className = "";

}}else{
  if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
let headerclasses=document.getElementById("header").className;
console.log(headerclasses);
let isboxshadow = headerclasses.search('boxshadow');
//document.getElementById("socialmedia").style.top="10px";
//document.getElementById("socialmedia").style.right="8px";
//document.getElementById("socialmedia").style.position="fixed";
console.log(isboxshadow);
    if(isboxshadow == -1 ){
console.log('yes');
      document.getElementById("header").className += " boxshadow";
}
 } else {

  document.getElementById("header").className = "";

}
}
}

const displayornot = ()=>{
  console.log('displayornot');

let  dropdown = document.getElementById('dropdown').className;
let  dropdowngan = document.getElementById('dropdown');

let isdropdown = dropdown.includes("nodisplay");
console.log(isdropdown);
  if(isdropdown){
    console.log(dropdown);
    document.getElementById('dropdown').className = document.getElementById('dropdown').className.replace(/\bnodisplay\b/g, "display");
  }else{
    console.log("falseeee");
  dropdowngan.className = dropdowngan.className.replace(/\bdisplay\b/g, "nodisplay");
  }
}

const previous = ()=>{
  let overall = document.getElementsByClassName('overall');
  let overallcollection = document.getElementsByClassName('overall').length;
  indicatoritem=document.getElementsByClassName('indicator-item');

  for(let i=0; i<overallcollection; i++){
  /*  if(overall[i].style.display == "block"){
      console.log("fcff");
      if(i-1 >= 0){
      overall[i-1].style.display = "block";
      console.log(overall[i-1].style.display);
      overall[i].style.display = "none"
      indicatoritem[i].className= indicatoritem[i].className.replace(/\bshade\b/g, "");
      indicatoritem[i-1].className= indicatoritem[i-1].className += " shade";


      i=overall.length;}else{
        overall[overallcollection-1].style.display = "block";
        indicatoritem[i].className= indicatoritem[i].className.replace(/\bshade\b/g, "");
        indicatoritem[overallcollection-1].className= indicatoritem[overallcollection-1].className += " shade";
        console.log(overall[overallcollection-1].style.display);
        overall[i].style.display = "none"


        i=overall.length;
      }

    }else{
      console.log("fff");
      overall[i].style.display == "none"
      indicatoritem[i].className= indicatoritem[i].className.replace(/\bshade\b/g, "");

    }*/
    if(overall[i].className.endsWith(" display")){
      console.log('true');
      console.log("fcff");
      console.log(i);
      console.log(i-1);
      if(i-1 >= 0){
      //overall[i+1].className += " display";
      overall[i-1].className= overall[i].className.replace(/\bnodisplay\b/g, "display");

      console.log(overall[i-1].className);
      //overall[i].className += " nodisplay";
      overall[i].className= overall[i].className.replace(/\bdisplay\b/g, "nodisplay");

      indicatoritem[i].className= indicatoritem[i].className.replace(/\bshade\b/g, "");
      indicatoritem[i-1].className= indicatoritem[i+1].className += " shade";
  i=overall.length;
  }else{
        //overall[0].className += " display";
        overall[overallcollection-1].className= overall[overallcollection-1].className.replace(/\bnodisplay\b/g, "display");

        indicatoritem[i].className= indicatoritem[i].className.replace(/\bshade\b/g, "");
        indicatoritem[overallcollection-1].className= indicatoritem[overallcollection-1].className += " shade";
        console.log(overall[overallcollection-1].className);
      //  overall[i].className += " nodisplay"
        overall[i].className = overall[i].className.replace(/\bdisplay\b/g, "nodisplay");


        i=overall.length;
      }

    }else{
      console.log("fff");
      //overall[i].className += " nodisplay";
      overall[i].className= overall[i].className.replace(/\bdisplay\b/g, "nodisplay");
      indicatoritem[i].className= indicatoritem[i].className.replace(/\bshade\b/g, "");

    }



  }
}

const next = ()=>{
  let overall = document.getElementsByClassName('overall');
  let overallcollection = document.getElementsByClassName('overall').length;
  indicatoritem=document.getElementsByClassName('indicator-item');

  for(let i=0; i<overallcollection; i++){
    /*if(overall[i].style.display == "block"){
      console.log("fcff");
      if(i+1 < overallcollection){
      overall[i+1].style.display = "block";
      console.log(overall[i+1].style.display);
      overall[i].style.display = "none"
      indicatoritem[i].className= indicatoritem[i].className.replace(/\bshade\b/g, "");
      indicatoritem[i+1].className= indicatoritem[i+1].className += " shade";


      i=overall.length;}else{
        overall[0].style.display = "block";
        indicatoritem[i].className= indicatoritem[i].className.replace(/\bshade\b/g, "");
        indicatoritem[0].className= indicatoritem[0].className += " shade";
        console.log(overall[0].style.display);
        overall[i].style.display = "none"


        i=overall.length;
      }

    }else{
      console.log("fff");
      overall[i].style.display == "none"
      indicatoritem[i].className= indicatoritem[i].className.replace(/\bshade\b/g, "");

    }*/
    if(overall[i].className.endsWith(" display")){
      console.log('true');
      console.log("fcff");
      console.log(i);
      console.log(i+1);
      if(i+1 < overallcollection){
      //overall[i+1].className += " display";
      overall[i+1].className= overall[i].className.replace(/\bnodisplay\b/g, "display");

      console.log(overall[i+1].className);
      //overall[i].className += " nodisplay";
      overall[i].className= overall[i].className.replace(/\bdisplay\b/g, "nodisplay");

      indicatoritem[i].className= indicatoritem[i].className.replace(/\bshade\b/g, "");
      indicatoritem[i+1].className= indicatoritem[i+1].className += " shade";
    i=overall.length;
    }else{
        //overall[0].className += " display";
        overall[0].className= overall[0].className.replace(/\bnodisplay\b/g, "display");

        indicatoritem[i].className= indicatoritem[i].className.replace(/\bshade\b/g, "");
        indicatoritem[0].className= indicatoritem[0].className += " shade";
        console.log(overall[0].className);
      //  overall[i].className += " nodisplay"
        overall[i].className = overall[i].className.replace(/\bdisplay\b/g, "nodisplay");


        i=overall.length;
      }

    }else{
      console.log("fff");
      //overall[i].className += " nodisplay";
      overall[i].className= overall[i].className.replace(/\bdisplay\b/g, "nodisplay");
      indicatoritem[i].className= indicatoritem[i].className.replace(/\bshade\b/g, "");

    }

    }
  }

setInterval(function(){
  let overall = document.getElementsByClassName('overall');
let overallcollection = document.getElementsByClassName('overall').length;
console.log(overallcollection);
indicatoritem=document.getElementsByClassName('indicator-item');
console.log(indicatoritem[0]);


if(indicatoritem[0] == null || indicatoritem[0] == undefined){
for (let i=0;i<overallcollection; i++){
  let indicator = document.getElementById('indicator');
  indicator.innerHTML += `
<div class="indicator-item"></div>
  `;
}
}
indicatoritem=document.getElementsByClassName('indicator-item');
for(let i=0; i<overallcollection; i++){
  if(overall[i].className.endsWith(" display")){
    console.log('true');
    console.log("fcff");
    console.log(i);
    console.log(i+1);
    if(i+1 < overallcollection){
    //overall[i+1].className += " display";
    overall[i+1].className= overall[i].className.replace(/\bnodisplay\b/g, "display");

    console.log(overall[i+1].className);
    //overall[i].className += " nodisplay";
    overall[i].className= overall[i].className.replace(/\bdisplay\b/g, "nodisplay");

    indicatoritem[i].className= indicatoritem[i].className.replace(/\bshade\b/g, "");
    indicatoritem[i+1].className= indicatoritem[i+1].className += " shade";
i=overall.length;
}else{
      //overall[0].className += " display";
      overall[0].className= overall[0].className.replace(/\bnodisplay\b/g, "display");

      indicatoritem[i].className= indicatoritem[i].className.replace(/\bshade\b/g, "");
      indicatoritem[0].className= indicatoritem[0].className += " shade";
      console.log(overall[0].className);
    //  overall[i].className += " nodisplay"
      overall[i].className = overall[i].className.replace(/\bdisplay\b/g, "nodisplay");


      i=overall.length;
    }

  }else{
    console.log("fff");
    //overall[i].className += " nodisplay";
    overall[i].className= overall[i].className.replace(/\bdisplay\b/g, "nodisplay");
    indicatoritem[i].className= indicatoritem[i].className.replace(/\bshade\b/g, "");

  }

}
/*for(let overall of overallcollection){
  if (overall.style.display == "block"){
    let overallindex = overallcollection.indexOf(overall);
    console.log(overallindex);
    let nextindex = overallindex+1;
    overall.style.display="none";
    overallcollection[nextindex].style.display="none";
  }
}
*/
},    8000)
let overallcollection = document.getElementsByClassName('overall').length;
let overall = document.getElementsByClassName('overall');
let indicator = document.getElementById('indicator');
for(i=0; i<overallcollection; i++ ){
  indicator.innerHTML += `<div class="indicator-item" ></div>`;
}
document.getElementsByClassName ('indicator-item')[0].className += " shade";

displaysmall=()=>{
  $('.togglesearch').toggleClass("togglesearch");
  $('header').find('.fa-search').css("display", "none");
  $('.togglesearch').toggleClass("togglesearch");
}
closesmall=()=>{
  $('.close').toggleClass("togglesearch");
    $('.flexdisplay').toggleClass("togglesearch");
  $('header').find('.fa-search').css("display", "block");
}
expand =()=>{

document.getElementById("dropdown-wrapper").style.display="block";
 document.getElementById("main-news").className += " shift";
}
closedropdown=()=>{
document.getElementById("dropdown-wrapper").style.display="none";
document.getElementById("main-news").className ="main-news";
}


changeplaceholder=()=>{
  let determinant = $("#filter").val();
 console.log(determinant);
  switch(determinant){
  case 'date': $("#searchword").attr('type','date');
  break;
  case 'keywords':  $("#searchword").attr('placeholder','Enter Your Search Terms');
$("#searchword").attr('type','text');
  break;
  case 'country':  $("#searchword").attr('placeholder','Enter Your Country');
$("#searchword").attr('type','text');
  break;
  default: ;
  break;


  }
  }
  let storageRef = firebase.storage().ref();
  let imagetable = document.getElementById("imagetable");

  const loadimagetable = ()=>{
    console.log("hi from loadimagetable");
    var otbody=document.getElementsByTagName('tbody');
    if(otbody[0]){
    	document.getElementById("imagetable").removeChild(otbody[0]);
  }
   list =[];

   storageRef.child('images').listAll().then((res)=>{
     console.log(res);
   res.prefixes.forEach((prefix)=>{
     console.log(prefix)
     storageRef.child('images'+"/"+prefix.name).listAll().then((res)=>{
     res.items.forEach((item)=>{
       list.push(item);
       console.log(list);
     });
     //console.log("hi");
     listing(list);
     //resolve(list);
   });
  });


  })
  }

  const listing = (list)=>{
    console.log("hi");

    otbody = document.createElement('tbody');

  list.forEach((item)=>{
    console.log("hi");
    storageRef.child(item.fullPath).getDownloadURL().then((url)=>{
      console.log(url);

  itemi = item.fullPath.replace("images/", "");
  itemii = itemi.replace("/"+item.name, "");
  console.log(itemii);
      otr = document.createElement("tr");
      otd1 =document.createElement("td");
      otd2=document.createElement("td");
      obutton = document.createElement("button");
      obuttonword = document.createTextNode("Delete");
      obutton.setAttribute("onclick", `deleti("${item.fullPath}", "${itemii}");`);
      obutton.appendChild(obuttonword);
      otd2.appendChild(obutton);

      imageload = document.createElement("img");
      imageload.setAttribute("src", url);
      otd1.appendChild(imageload);
      otr.appendChild(otd1);
      otr.appendChild(otd2);
      otbody.appendChild(otr);
      document.getElementById("imagetable").appendChild(otbody);
      //tr =  imagetable.getElementsByTagName('tr');

    })
  })

  }
  $( document ).ready(function() {
      console.log( "ready!" );


})
expanding=()=>{
  console.log('clicked');
 $('.noborder').toggleClass('display');
 if($('.toright').find('.fa-angle-right').length == 1){
   $('.toright').html('<i class="fas fa-angle-down" onclick="expanding();"></i>');}else{
     $('.toright').html(`<i class="fas fa-angle-right" onclick="expanding();"></i>`);
   }}

//  })



const deleti = (files, data)=>{

  firebase.auth().signInWithEmailAndPassword("assidiiq25@gmail.com", "assidiiq").catch(function(error) {
  // Handle Errors here.
   console.log(error);
  // ...
});
let user = firebase.auth().currentUser;
user =user.token;
console.log(user);

storageRef = firebase.storage().ref();

storageRef.child(files).delete().then(()=>{
  alert("file deleted succesfully")
}).catch((e)=>{
  console.log(e)
});

db= firebase.database();
db.ref("/pictures/"+data).remove().then(()=>{
  alert("info removed successfully");
}).catch((e)=>{
  console.log(e);
})
loadimagetable();
}


const deleteindeximage = (path)=>{
  imagetable = document.getElementById("imagetable");
let button= document.getElementById()


}
  if('serviceWorker' in navigator ){
    window.addEventListener('load', async ()=>{
      try{
    registration = await navigator.serviceWorker.register('ser.js')

    console.log(`service worker registered and service worker is ${registration.scope}`);
}catch(e){
  console.log(e);
}})

}else{console.log('no service worker')};

function sharedata(){

	FB.ui({
		method: 'share',
 href: 'https://omolayointcollege.web.app',}, function(response){});
}
</script>



</body>
</html>
